{
  "presets": [
    [
      "@babel/preset-env",
      {
          "modules": false,
          "useBuiltIns": "usage",
          "corejs": 3
      }
    ]
  ],
  "plugins": [
      "transform-vue-jsx",
      ["import-bk-magic-vue",{
          "baseLibName": "bk-magic-vue"
      }],
      [
          "@babel/plugin-transform-runtime",
          {
              "corejs": false
          }
      ],
      "@babel/plugin-proposal-object-rest-spread"
  ]
}
